body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

img{
    width: 350px;
}


/* HEADER */
header{
    background-color: #334d61;
    padding: 1px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 80%;
    z-index: 1;
  }
  
  header .logo{
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
  }
  
  header .logo .imagenLogo{
    width: 5rem;
    margin-bottom: 5px;
    margin-top: 12px;
  }
  
  header nav ul{
    list-style: none;
  }
  
  header nav ul li{
    float: left;
    position: relative;
    
  }
  
  header nav ul li a{
    font-size: 22px;
    color: #f1f5fd;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    
    
  }
  
  header nav ul li a:hover{
    border-bottom: 3px solid #f1f5fd;
  }
  
  header nav ul li ul{
    position: absolute;
    right: 0;
    width: 300px;
    background-color:#334d61;
    display: none;
    z-index: 1000;
  }
  
  header nav ul li ul li a{
    font-size: 15px;
    text-transform: capitalize;
  }
  
  header nav ul li ul a:hover{
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #729de8;
  }
  
  header nav ul li ul li{
    width: 100%;
  }
  
  header nav ul li:hover > ul{
    display: initial;
  }

header img{
    width: 80%;
}
#toggle,
header label{
  display:none;
  cursor: pointer;
}

header label .menu{
  width: 45px;
  height: 35px;
}


/* --------- */
/* DESCRIPCION AFTA*/
.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20vh 0 5vh 0;
}

.text-description{
    width: 290px;
    height: 280px;
    border-radius: 2px;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    color: black;
    position: relative;
    right: 50px;
    z-index: 0;
    text-align: justify;
    padding: 40px 25px;
}
.text-description{
    background-image: url("../img/logos/logo-transp.png") ;
    background-position: center;
    background-repeat: no-repeat;
}
.text-description h2{
    color: black;
    text-align: center;
    margin: 0 0 0 15px;
    padding: 0;

}
.text-description p{
    font-size: 14px;
    font-weight: bold;
}

.text-description img{
    width: 45px;
    position: relative;
    left: 38%;
}



.img-empresa{
    background-color: rgb(247, 245, 245);
    border-radius: 10px;
    padding: 18px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.img-empresa img{
    width: 600px;
}


/* --------- */


/* VISION - MISION */
.container-vision-mision{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 40px 0;
    color: white;
}

.vision-mision{
    border: 2px solid black;
    width: 310px;
    height: 300px;
    border-radius: 7px;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.vision-mision{
    background-image: url("../img/logos/logo-transp.png");
    background-position: center;
    background-repeat: no-repeat;
}

.vision-mision h2, .vision-mision p{
    color: black;
    font-weight: bold;
}

.vision-mision img{
    width: 45px;
    color: black;
}

.vision-mision p{
    text-align: justify;
    margin: 0 3vh;
    font-size: 14px;
}
/*--------*/


/*   EQUIPO   */
#title-team{
    background-color: #426987;
    padding: 25px 0;
    text-align: center;
    margin: 0;
    color: white;
}

.equipo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: #426987;
}

.card-team {
    width: 16rem;
    height: 20rem;
    cursor: pointer;
    position: relative;
    color: white;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-team img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.5s;
}
.card-team img:hover {
    opacity: 0.5;
    transition: 0.5s;
}
  
.card-team h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-weight: normal;
    text-transform: uppercase;
}
    
.card-team p {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
}
    
.card-team p {
    inset: auto auto 0px 20px;
}
    
.card-team:hover h2 {
    inset: auto auto 50px 30px;
    transition: inset .3s ease-out;
}
    
.card-team:hover p{
    opacity: 1;
    transition: opacity .5s .1s ease-in;
}

/* --------- */


/* Contacto */
.contacto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    background-image: url("https://elements-cover-images-0.imgix.net/ea0990ce-ef84-4f13-b198-7eb7947cc823?auto=compress%2Cformat&fit=max&w=900&s=1651369496d570cf492aa15dfde01b80");
    background-repeat: no-repeat;
    background-size: cover;
}   

.contacto-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto-msg img{
    width: 225px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.contacto-msg a{
    border: 1 solid black;
    background-color: #334d61;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: 0.6s;
}

.contacto-msg a:hover{
    background-color: #334d6186;
    opacity: 0.4;
    transition: 0.6s;
}



form{
    text-align: center;
    display: flex;
    flex-direction: column;
}

form input{
    width: 350px;
    height: 45px;
    margin: 6px 0;
}

form textarea{
    height: 50px;
    width: 98%;
    resize: none;
    background-color: rgba(128, 128, 128, 0.103);
    border: 0;
}

form button{
    margin-top: 5px;
    width: 150px;
    height: 45px;
    
}

.formulario{
    background-color: white;
    padding: 8px 35px 50px ;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.formulario p{
    font-size: 25px;
}

.formulario h2{
    color: #1b6ba8;
    text-transform: uppercase;
}

input{
    background-color: rgba(128, 128, 128, 0.103);
    border: 0;
}

button{
    background-color: #334d61;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    opacity: 1;
    transition: 0.6s;
}
button:hover{
    background-color: #334d616b;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.6s;
}

/* ------- */


/* FOOTER*/
footer{
    display: flex;
    background-color: #334d61;

    padding: 15px;
    color: white;
}

footer p{
    color: gray;
    font-size: 13px;
    text-align: justify;
}

footer a{
    text-align: center;
}

.container-footer{
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;
}

.empresa{
    width: 25%;
    flex-direction: column;
}

.empresa, .servicios-footer,.redes, .contacto-footer{
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.redes img{
    width: 25px;
    opacity: 1;
    transition: 0.6s;
}
.redes img:hover{
    opacity: 0.4;
    transition: 0.6s;
}

.logo-socialmedia{
    background-color: #37556d;
    padding: 10px;
}

#boton-contacto{
    text-align: center;
    text-decoration: none;
    background-color: #37556d;
    color: white;
    border: 1px solid black;
    padding: 7px;
    border-radius: 10px;
    opacity: 1;
    transition: 0.6s;
}

#boton-contacto:hover{
    background-color: #1f2f3b;
    opacity: 0.4;
    transition: 0.6s;
}

#copyright{
    color: gray;
    font-size: 13px;
    background-color: #334d61;
    text-align: center;
    margin: 0;
    padding: 25px 0;
}

#whatsapp img{
    width: 35px;
    position: fixed;
    bottom: 20px;
    left: 95%;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 1;
    transition: 0.6s;
}

#whatsapp img:hover{
    opacity: 0.4;
    transition: 0.6s;
}

@media(max-width:950px){

    header label {
      display: initial;
    }
    
    header {
      padding: 20px 10%;
    }
    
    header nav{
      position:absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .4);
      display: none;
      z-index: 1000;
    }
    
    header nav ul li{
      width: 100%;
    }
    
    header nav ul li a{
      padding: 8px 30px 8px 10%;
    }
    
    header nav ul li ul{
      position: relative;
      width: 100%;
      left: 0;
    }
    
    header nav ul li ul li {
      background-color: #334d61;
    }
    
    #toggle:checked ~ nav{
      display: block;
    }
}
/* Apply styles for screens with a maximum width of 768px (typical mobile screens) */
@media (max-width: 768px) {
    
    /* NAVBAR */
    

    /* Seccion Historia AFTA*/
    .descripcion{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20vh 0 5vh 0;
    }

    .text-description{
        width: 18rem;
        border: 2px solid black;
        border-radius: 2px;
        flex-direction: column;
        position: relative;
        bottom: 30px;
        right: 0;
        height: 315px
    }

    .img-empresa img{
        width: 300px;
    }

    /* EQUIPO */
    .equipo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
    }

    .card-team {
        width: 15rem;
    }
    .card-team img{
        margin: 15px 0;
    }
    /* --------- */


    /* MISION - VISION*/
    .container-vision-mision{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 40px 0;
        color: white;
    }

    .vision-mision{
        margin: 25px 0;
        height: 315px;
    }



    /* CONTACTO */
    .contacto{
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 35px 0;
        background-image: url("https://elements-cover-images-0.imgix.net/ea0990ce-ef84-4f13-b198-7eb7947cc823?auto=compress%2Cformat&fit=max&w=900&s=1651369496d570cf492aa15dfde01b80");
        background-repeat: no-repeat;
        background-size: cover;
    }   

    .contacto-msg{
        margin: 10px 0 55px;
    }


    form{
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 45px;
    }

    form input{
        width: 300px;
        height: 50px;
        margin: 6px 0;
    }

    form textarea{
        height: 50px;
        width: 98%;
        width: 300px;
        resize: none;
        background-color: rgba(128, 128, 128, 0.103);
        border: 0;
    }

    .formulario{
        background-color: white;
        padding: 8px 15px 35px ;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    }

    /* FOOTER */
    footer{
        margin: 0;
        padding: 0;
    }
    .container-footer{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 10px 5px;
    }

    .container-footer p{
        width: 100%;
        text-align: justify;
    }

    .empresa{
        width: 325px;
        align-items: center;
        flex-direction: column;
        
    }

    .redes{
        justify-content: space-between;
    }

    #whatsapp{
        visibility: hidden;
    }
}

/* MEDIA QUERY TABLET*/
@media screen and (min-width: 768px) 
    and (max-width: 1024px) {
        .descripcion{
            padding: 20vh 0 5vh 0;
        }
    
        .text-description{
            width: 18rem;
            border-radius: 2px;
            flex-direction: column;
            height: 300px
        }

        .vision-mision{
            height: 300px
        }
    
        .img-empresa img{
            width: 450px;
        }

        .card-team{
            width: 14rem;
            height: 18rem;
        }

        #whatsapp{
            visibility: hidden;
        }
        
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}
