*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color:  #999999;
}

header{
  background-color: #676767;
  padding: 1px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  font-size: 25px;
  text-transform: uppercase;
  color: #f7f7f7;
  font-weight: 700;
}

header .logo .logoAgua{
  width: 8rem;
  margin: 0;
}

header .logo .imagenLogo{
  width: 6rem;
  margin-bottom: 12px;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  float: left;
  position: relative;
}

header nav ul li a{
  font-size: 22px;
  color: #f7f7f7;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  
}

header nav ul li a:hover{
  border-bottom: 3px solid #f7f7f7;
}

header nav ul li ul{
  position: absolute;
  right: 0;
  width: 300px;
  background-color:#363636;
  display: none;
  z-index: 1000;
}

header nav ul li ul li a{
  font-size: 15px;
  text-transform: capitalize;
}

header nav ul li ul a:hover{
  background-color: #363636;
  border: 2px solid #dfdfdf;
}

header nav ul li ul li{
  width: 100%;
}

header nav ul li:hover > ul{
  display: initial;
}

#toggle,
header label{
  display:none;
  cursor: pointer;
}

header label .menu{
  width: 45px;
  height: 35px;
}

.carrusel{
	width: 100%;
  height: 100%;
	overflow:hidden;
}

.carrusel ul {
	display: flex;
	padding: 0;
	width: 400%;
  object-fit: cover;
	animation: slide 20s infinite alternate ease-in-out;
}

.carrusel li {
	width: 100%;
	list-style: none;
}

.carrusel img {
	width: 100%;
  height: 650px;
}

.carrusel .container-img{
    position:relative;
    text-align: center;
}

.carrusel .container-img .container-texto{
    color: #f7f7f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .carrusel .container-img .container-texto h1{
    width:80%;
    margin: 10%;
    padding: 15px;
    font-size: 2rem;
    text-shadow: black 4px 4px;
    background: rgba(0, 0, 0, .6);
    text-align: left;
  }

@keyframes slide {
    0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.container{
    margin: 2rem auto;
    display: flex;
    width: 80%;
}

.container .parrafo{
    width: 50%;
}

.container .parrafo h2{
    font-size: 2rem;
    color: #363636;
    text-align: center;
    margin-bottom: 1.50rem;
}

.container .parrafo p{
    text-align:justify;
    font-size: 1.25rem;
    font-weight: 500;
    color: #363636;
    line-height: 30px;
    padding-right: 3rem;
}

.container .imgPlanosAgua{
    width: 50%;
    margin: auto;
    padding: auto;
}

.sliderParrafoAgua{
    width: 100%;
    height: 60vh;
    margin: auto;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.sliderParrafoAgua img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s;
    border: 3px solid #363636;
}

.sliderParrafoAgua input[type="radio"]{
    display: none;
}

.sliderParrafoAgua input[type="radio"]:checked ~ img{
    opacity: 1;
}

.sliderParrafoAgua input[type="radio"] + label {
    position: relative;
    z-index: 50;
    margin: 10px;
    display: block;
    width: 50px;
    height: 15px;
    background: #363636;
    border-radius: 55px;
    border: 2px solid #f7f7f7;
    box-shadow: 0 5px 10px #000;
}

.sliderParrafoAgua input[type="radio"]:checked + label{
    background:#363636;
    padding: auto;
    border: 3px solid #f7f7f7;
}

.subInformacion{
    text-align: center;
    font-size: 2rem;
    width: 95%;
    margin: 50px auto;
    color: #363636;
    border-bottom: 3px solid #676767;
}

.SeccionTarjetas {
    display: flex;
    justify-content: space-around;
    margin: 0 2%;
}

.cards{
    position: relative;
    width: 250px;
    height: 350px;
}

.cards .cara{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.cards .externa{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    background-color: #f7f7f7;
}

.cards .externa img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .externa h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #f7f7f7;
    background: rgba(0, 0, 0, .7);
    text-align: center;
}

.cards .interna {
    transform: perspective(600px) rotateY(180deg);
    background:#7b7b7b;
    padding: 15px;
    color:  #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}

.cards .interna h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.cards .interna p{
    letter-spacing: 1px;
}

.cards:hover .externa{
    transform: perspective(600px) rotateY(180deg);
}

.cards:hover .interna{
    transform: perspective(600px) rotateY(360deg);
}

.subDeclaraciones{
    width: 90%;
    color: #363636;
    font-size: 2rem;
    text-align: center;
    margin: 5rem auto;
    border-bottom: 3px solid #676767;
}

.declaraciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem;
}

.declaraciones .personaje{
    display: flex;
    width: 100%;
    align-items: center;
}

.declaraciones .personaje .imgPersonaje{
    width: 50%;
    margin: 1rem;
}

.declaraciones .personaje .imgPersonaje img{
  width: 250px;
  height: 200px;
  border-radius: 25%;
}

.declaraciones .personaje .declaracion{
    border: 2px solid #363636;
    border-radius: 25px;
    padding: 20px;
}

.declaraciones .personaje .declaracion h1{
    color: #363636;
}

.declaraciones .personaje .declaracion p{
    font-size: 1.25rem;
}

.separador{
    margin: 3% 2%;
    border: 2px solid #363636;
}

footer{
  display: flex;
  background-color: #363636;
  padding: 15px;
  color: #f1f5fd;
}

footer p{
  color: #f1f5fd;
  font-size: 13px;
  text-align: justify;
}

footer a{
  text-align: center;
}

.container-footer{
  display: flex;
  justify-content: space-evenly;
  align-self: flex-start;
}

.empresa{
  width: 25%;
  flex-direction: column;
}

.empresa, .servicios-footer,.redes, .contacto-footer{
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.redes img{
  width: 25px;
  opacity: 1;
  transition: 0.6s;
}
.redes img:hover{
  opacity: 0.4;
  transition: 0.6s;
}

.logo-socialmedia{
  background-color: #363636;
  padding: 10px;
}

#copyright{
  color: #f1f5fd;
  font-size: 13px;
  background-color: #363636;
  text-align: center;
  margin: 0;
  padding: 25px 0;
}

@media(max-width:950px){

header label {
  display: initial;
}

header {
  padding: 20px 10%;
}

header nav{
  position:absolute;
  top: 22%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .4);
  display: none;
  z-index: 1000;
}

header nav ul li{
  width: 100%;
}

header nav ul li a{
  padding: 8px 30px 8px 10%;
}

header nav ul li ul{
  position: relative;
  width: 100%;
  left: 0;
}

header nav ul li ul li {
  background-color: #363636;
}

#toggle:checked ~ nav{
  display: block;
}

.carrusel img {
	width: 100%;
  height: 450px;
}

.carrusel .container-img .container-texto h1{
    width:80%;
    font-size: 1.5rem;
    text-shadow: black 4px 4px;
    background: rgba(0, 0, 0, .4);
    text-align: left;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 100%;
}

.container .parrafo{
  width: 100%;
}

.container .parrafo h2{
  font-size: 2rem;
  color: #363636;
  text-align: center;
  margin-bottom: 1.50rem;
}

.container .parrafo p{
  text-align:justify;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  padding: 0;
  margin:1rem;
}

.container .imgPlanosAgua{
  width: 80%;
  padding: 0;
}

.sliderParrafoAgua{
  width: 100%;
  height: 60vh;
  margin: auto;
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sliderParrafoAgua img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s;
  border: 3px solid #363636;
}

.SeccionTarjetas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 3%;
}

.cards{
  position: relative;
  width: 195px;
  height: 300px;
  margin: 2rem 1rem;
}

.declaraciones{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 3rem;
}

.declaraciones .personaje{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
}

.declaraciones .personaje .imgPersonaje{
    width: 100%;
    margin: 1rem;
}

.declaraciones .personaje .imgPersonaje img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.declaraciones .personaje .declaracion{
    border: 2px solid #363636;
    border-radius: 25px;
    padding: 20px;
}

.declaraciones .personaje .declaracion h1{
    color: #363636;
}

.declaraciones .personaje .declaracion p{
    font-size: 1.25rem;
}

footer{
  margin: 0;
  padding: 0;
}
.container-footer{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 5px;
}

.container-footer p{
  width: 100%;
  text-align: justify;
}

.empresa{
  width: 325px;
  align-items: center;
  flex-direction: column;
  
}

.redes{
  justify-content: space-between;
}
}